@import "../../stylesheets/2-abstracts/abstracts-dir.scss";

.container {
    padding: calc(1rem + 70px) 1rem 1rem;
    margin: 0;

    @media #{$break-sm} {
        padding: calc(2rem + 70px) 2rem 2rem;
    }

    @media #{$break-lg} {
        padding: 4rem 0;
    }
}

.hero {
    @include container-maxwidth();

    @media #{$break-md} {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 3rem;
    }

    h1 {
        font-weight: normal;
        font-size: 3.125rem;
        margin: 1rem auto;
    }

    img {
        border-radius: 10px;
    }

    .heroRight {

        margin-top: 1rem;

        a {
            font-size: 1.875rem;
            color: $pink;
            text-decoration: underline;
        }
    }
}

.body {

    article {
        @include container-maxwidth();

        p {
            margin: 0.5em 0;
        }

        .block {
            margin: 5rem 0;

            @media #{$break-sm} {
                display: grid;
                grid-template-columns: 30% 65%;
                gap: 5%;
            }

            .title {
                max-width: 250px;

                h2 {
                    margin-bottom: 2rem;
                    font-size: 1.875rem;
                    font-weight: bold;
                }

                @media #{$break-md} {}
            }

            .contents {

                .contents_flex {
                    .contents_left {
                        margin-bottom: 2rem;
                    }

                    @media #{$break-sm} {
                        display: flex;
                        align-items: flex-start;

                        .contents_left {
                            margin-right: 4rem;
                            margin-bottom: 0;
                        }
                    }
                }

                h4 {
                    margin-bottom: 1rem;
                    font-weight: bold;
                }


                .description {
                    border-left: 1px solid $black;
                    padding-left: 1rem;

                    ul {
                        margin: 0;
                        padding: 0;

                        li {
                            margin-top: 0;
                            list-style: none;
                            margin-bottom: 1rem;
                            font-family: $paragraph-font;
    
                            a {
                                color: $pink;
                                text-decoration: underline;
                            }
                        }
                    }

                    .year {
                        color: $black;
                        opacity: 0.4;
                        font-size: 1rem;
                        margin-bottom: 0.8rem;
                    }
                }
            }
        }

        .iCanDo {}
    }
}