@import "../2-abstracts/abstracts-dir";

body {
  font-family: $font-stack;
  margin: 0;
  background: $light-grey;
  color: $black;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:hover {
    color: $pink !important;
  }

  &:focus {
    outline: 0;
  }
}

h1,
h2,
h4,
h5,
h6 {
  margin: 0;
}

h3 {
  font-size: 1.875rem;
  font-weight: normal;
}