@import "../2-abstracts/abstracts-dir";

body {
    font-family: $font-stack;
    margin: 0;
    background: $light-grey;
    color: $black;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

button,
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;

    &:focus {
        outline: 0;
    }
}