@import "../2-abstracts/abstracts-dir";
@import "~bootstrap/scss/bootstrap.scss";

body {
  font-family: $font-stack;
  margin: 0;
  background: $light-grey;
  color: $black;
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border: none;

  &:hover {
    color: $pink !important;
  }

  &:focus {
    outline: 0;
  }
}

h1,
h2,
h3,
// h4,
h5,
h6 {
  //margin: 0;
  letter-spacing: -0.5px;
  font-weight: 600;
}

h3 {
  font-size: 1.875rem;
}

h5 {
  font-size: 1.375rem;
  margin-bottom: 1rem;
}

h4, h6, p {
  font-family: $paragraph-font;
  color: $dark-grey !important;
}

p {
  line-height: 1.8rem;
  font-size: 1rem;
}

/* input 기본 스타일 초기화 */
input {
  border: none;
}