@mixin container-maxwidth() {
  max-width: 960px;
  margin: 0 auto;

  @media #{$break-lg} {
    max-width: 1140px;
  }
}

@mixin flex-center($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin flex-center-justify($direction: row) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: $direction;
}

@mixin smallShadow() {
  box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.16);
}

@mixin bigShadow() {
  box-shadow: 6px 10px 28px rgba(0, 0, 0, 0.2);
}

@mixin hoverTransition() {
  transition: 0.25s;
  transition-timing-function: ease-out;
  -webkit-transition: 0.25s;
  -webkit-transition-timing-function: ease-out;
}
