@import "../../stylesheets/2-abstracts/abstracts-dir.scss";

.hero {
    @include container-maxwidth();

    p {
        font-size: 1.75rem;
        line-height: 1.7;
        //padding: calc(1rem + 70px) 1rem 1rem;
        margin: 0;

        .link {
            color: $pink;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        @media #{$break-sm} {
            font-size: 2.5rem;
            line-height: 1.8;
            //padding: calc(2rem + 70px) 2rem 2rem;
        }

        @media #{$break-lg} {
            font-size: 3rem;
            line-height: 1.8;
            //padding: calc(12% + 70px) 0 12% 0;
        }
    }
}

.works {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-bottom: 4rem;

    .images {
        width: 100%;

        @media #{$break-md} {
            display: flex;
        }

        img {
            width: 100%;

            @media #{$break-md} {
                flex: auto;
            }
        }
    }

    .viewMoreWork {
        font-size: 1.25rem;
        text-transform: uppercase;
        color: $black;
        margin-top: 1.25rem;
        border-bottom: 1px solid $black;

        &:hover {
            color: $pink;
            border-bottom: 1px solid $pink;
        }

        @media #{$break-md} {
            margin-top: 2.5rem;
        }
    }

}