@import "../../../stylesheets/2-abstracts/abstracts-dir.scss";

@mixin bigMargin($bigger: false) {
  margin-top: 50px;
  margin-bottom: 30px;

  @media #{$break-md} {
    @if ($bigger) {
      margin-top: 80px * 1.5;
      margin-bottom: 50px * 1.5;
    } @else {
      margin-top: 80px;
      margin-bottom: 50px;
    }
  }
}

.container {
  @include bigMargin(bigger);
  text-align: left;

  h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  @media #{$break-md} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    text-align: left;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      margin-top: 0;
    }
  }

  .title_mobile {
    @media #{$break-md} {
      display: none;
    }
  }

  .title_desktop {
    display: none;

    @media #{$break-md} {
      display: block;
    }
  }

  .text {
    width: 100%;
    strong {
      font-family: $font-stack;
    }

    @media #{$break-md} {
      max-width: 580px;
    }
  }

  .image {
    object-fit: contain;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .video {
    @include smallShadow();
    border-radius: 4px;
    object-fit: contain;
  }

  .imgLeft {
    grid-row: 1/3;
  }

  .imgRight {
    grid-row: 1/3;
    grid-column: 2;
  }

  .textLeft {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    @media #{$break-md} {
      padding-left: 2em;
    }
  }

  .textRight {
    display: flex;
    flex-direction: column;

    @media #{$break-md} {
      padding-right: 2em;
    }
  }
}

.container_noImage {
  max-width: 990px;
  margin: 0 auto;
  @include bigMargin();
  margin-bottom: 80px;

  h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  @media #{$break-md} {
    text-align: left;

    h3 {
      margin-bottom: 1rem;
    }

    p {
      margin-top: 0;
    }
  }
}
