@import "../../../stylesheets/2-abstracts/abstracts-dir.scss";

@mixin bigMargin($double: false) {
  margin-top: 50px;
  margin-bottom: 30px;

  @media #{$break-md} {
    @if ($double) {
      margin-top: 80px * 2;
      margin-bottom: 50px * 2;
    } @else {
      margin-top: 80px;
      margin-bottom: 50px;
    }
  }
}

.body {   //updating Jan 2025
  // @include container-maxwidth();
  // @include bigMargin();
  max-width: 990px;
  margin: 0 auto;
  color: $dark-grey;

  .paragraph {
    margin: 3.125rem 0;
    .grid {
      @media #{$break-md} {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3rem;
        text-align: left;
    
        // h3 {
        //   margin-bottom: 1rem;
        // }
    
        // p {
        //   margin-top: 0;
        // }
      }
    }

  }

  h4 {
    margin-bottom: 0.25rem;

    font-family: $paragraph-font;
    font-size: 1.125rem;
    line-height: 1.5;
    font-weight: bold;
    
    @media #{$break-sm} {
      font-size: 1.25rem;
      line-height: 1.6;
    }
  }
  p, li {
    font-family: $paragraph-font;
    font-size: 1rem;
    line-height: 1.5;
    
    @media #{$break-sm} {
      font-size: 1.125rem;
      line-height: 1.6;
    }
  }

.body__imgWrapper {
  margin: 1rem 0 2rem 0;
  img {
    width: 100%;
    border-radius: $imageBorderRadius;
    @include smallShadow();
  }
  figcaption {
    margin-top: 1.25rem;
    font-size: 0.875rem;
    font-family: $paragraph-font;
    text-align: center;
    color: $dark-grey;
  }
}
}

.hero {
  @include container-maxwidth();
  @include flex-center();
  flex-direction: column;
  margin-bottom: 40px;
  text-align: center;

  h1 {
    font-weight: 600;
    font-size: 3.125rem;
    margin: 1rem auto;
  }

  h2 {
    font-weight: 400;
    font-size: 1.5rem;

    @media #{$break-sm} {
      font-size: 1.875rem;
    }
  }

  img,
  video {
    @include bigShadow();
    margin-top: 1rem;
    border-radius: 6px;
    width: 100%;
    max-width: 990px;

    @media #{$break-sm} {
      margin-top: 2rem;
    }
  }
}

.intro {
  max-width: 990px;
  margin: 0 auto;

  p {
    margin: 0;
  }

  .brief {
    display: grid;
    grid-template-columns: 120px auto;
    gap: 1.5rem;
    @include bigMargin();

    @media #{$break-sm} {
      grid-template-columns: repeat(4, auto);
    }

    h6 {
      font-size: 1.125rem;
      font-weight: bold;
      color: #333333;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 0.5rem;
    }

    p {
      //font-family: $font-stack;
      font-size: 1.125rem;
      margin: 0;
    }

    .visit {
      border-bottom: 1px solid $grey;

      &:hover {
        color: $pink;
        border-bottom: 1px solid $pink;
        text-decoration: none !important;
      }
    }
  }
}

.swf {
  width: 100%;
  height: 300px;
  @media #{$break-sm} {
    height: 600px;
  }
}

.imageCenterContainer {
    gap: 16px;
    @include bigMargin();
    max-width: 990px;
    margin: 0 auto;
    text-align: left;
  
    h3 {
      margin-top: 0;
      margin-bottom: 1.5rem;
    }
  
    @media #{$break-md} {
      h3 {
        margin-bottom: 1rem;
      }
  
      p {
        margin-top: 0;
      }
    }
  
    .title_mobile {
      // @media #{$break-md} {
      //   display: none;
      // }
    }
  
    .title_desktop {
      display: none;
  
      // @media #{$break-md} {
      //   display: block;
      // }
    }
  
    .image {
      object-fit: contain;
      img {
        width: 100%;
        height: 100%;
      }
    }
    span {
      img {
        width: 100%;
      }
    }
}