@import "../../stylesheets/2-abstracts/abstracts-dir.scss";

.container {
  @include container-maxwidth();
  @include flex-center();
  margin-top: 3rem;
  margin-bottom: 1.25rem;

  a {
    text-transform: uppercase;
    font-size: 1.25rem;
    color: $black;
    border-bottom: 1px solid $black;

    &:hover {
      color: $pink;
      border-bottom: 1px solid $pink;
      text-decoration: none !important;
    }
  }
}
