@import "../../stylesheets/2-abstracts/abstracts-dir.scss";

@mixin textDiv {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 300px;
  @include flex-center();
  text-align: center;
  background-color: $grey;
  opacity: 0.8;
  padding: 1rem;
  color: white;
  cursor: pointer;
  object-fit: cover;
  @media #{$break-md} {
    min-height: 400px;
  }
}

.hero {
  @include container-maxwidth();
  @include flex-center();
  flex-direction: column;
  margin-bottom: 40px;

  h1 {
    font-weight: 500;
    font-size: 3.125rem;
    margin: 1rem auto;
  }

  ul {
    @media #{$break-sm} {
      display: flex;
    }

    li {
      padding: 0 1em;
      font-size: 1.25rem;
      line-height: 1.8;
      text-align: center;
      cursor: pointer;
    }
  }
}

.works {
  span {
    //lazy-loading span
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
  .textDiv {
    @include textDiv();
  }
  .visitGithub {
    @include textDiv();
    background-color: #24292e;
    .icon {
      svg {
        font-size: 48px;
      }
      margin-right: 0.5rem;
    }
  }

  @media #{$break-sm} {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media #{$break-md} {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
